@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root {
  --black: #202020;
  --white: #fff;
  --grey: #afac95;
  --sub-primary-color: #ef9335;
  --primary-color: #ec642b;
}

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: var(--black);
  color: var(--white);
  font-family: "Outfit", sans-serif;
  height: 100dvh;
  width: 100dvw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

/* Дуже сильно тут зі стилями не попрацюєш хоча хотілось */
